element.style {
}
.VPSQXw, .tmjmqw {
    overflow: hidden;
}
.tmjmqw {
    background-color: var(--2yga1g);
    height: 100%;
    width: 100%;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.light {
    --wq7VLw: #39466024;
    --P6VXWA: #ffffff80;
    --MxVKpA: #ffffffe5;
    --p0BMkw: #fff;
    --ERxfBQ: #e0e2e6;
}
.light {
    --D_rk8Q: linear-gradient(0deg, #ffffffb2 0%, transparent);
}
.light {
    --Gz-abA: #1c213080;
}
.light {
    --snAkZw: #ffffffb2;
}
.light {
    --xhNO4Q: linear-gradient(90deg, #ffffffb2 0%, 20%, transparent);
    --V6yv2g: linear-gradient(270deg, #ffffffb2 0%, 20%, transparent);
    --NZqRRQ: #1c213080;
    --rHZB8Q: #fff;
    --BSTI8A: #2b354a4d;
}
.light {
    --Q2f31A: #6ba9ff;
    --U4Djhw: #008009;
    --4Epz8Q: #a370fc;
}
.light {
    --8BDQwQ: #ffebd6;
}
.light {
    --Tvynng: #a370fc26;
    --wuYAdg: #a370fc;
}
.light {
    --ywBbqw: none;
}
.light {
    --AXsJnw: #fff;
}
.light {
    --f4agUQ: none;
}
.light {
    --J6TLkw: none;
}
.light {
    --CNihew: linear-gradient(33deg, #7630d7 30%, #e7dbff 60%);
    --nVBSCg: url(../images/ab98aec….png);
    --GJ8haA: #ffffffe5;
    --rQi_Jg: #ffffffcc;
    --vCimLg: #0f1015;
    --VmWCzw: linear-gradient(33deg, transparent, transparent 40%, hsla(0, 0%, 100%, .3) 60%);
    --EtNf3Q: transparent;
    --qqsFBg: hsla(0, 0%, 100%, .2);
    --jeINTg: hsla(0, 0%, 100%, .5);
    --v3gX3Q: linear-gradient(33deg, #e7dbff 30%, #fff 60%);
}
.light {
    --W29CtQ: #d6c2ff;
    --tZpEJQ: var(--dbTMCw);
}
.light {
    --X_Zinw: #d6c2ff;
    --1YuDHg: var(--dbTMCw);
}
.light {
    --CZg5tg: #ddeaf9;
    --8r-HOw: #ebe0fc;
}
.light {
    --VlgVpw: #ddeaf9;
    --8bIkAA: #ebe0fc;
}
.light {
    --0WYuYw: linear-gradient(180deg, #fff 82.43%, #4a53fa 325.99%);
}
.light {
    --y-Cg_Q: #0f1015;
}
.light {
    --vb5SEw: #515154;
}
.light {
    --Xv8SYQ: #e8eaed;
}
.light {
    --n7d2mg: #0f1015;
}
.light {
    --YFRe5w: url(data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.6 5.613C7.91 5.466 6.98 4.874 6.484 3.7c-.179-.423-.304-.917-.384-1.5 0-.1-.1-.2-.2-.2s-.2.1-.2.2c-.08.583-.205 1.077-.384 1.5C4.821 4.874 3.891 5.466 2.2 5.613c-.1 0-.2.1-.2.2s.1.2.2.2c2.1.4 3.2 1.187 3.5 3.387 0 .1.1.2.2.2s.2-.1.2-.2c.3-2.2 1.4-2.987 3.5-3.387.1 0 .2-.1.2-.2s-.1-.2-.2-.2Z' fill='url(%23a)'/%3E%3Cpath d='M19.469 11.865c-4-.8-5.726-2.73-6.526-6.629a.493.493 0 0 0-.474-.371.493.493 0 0 0-.475.376c-.009.006.007-.015 0 0-.8 4-2.625 5.824-6.525 6.624a.5.5 0 0 0 0 1c4 .8 5.717 2.687 6.517 6.587a.493.493 0 0 0 .483.413.493.493 0 0 0 .477-.387c-.005.01.006-.008 0 0 .8-4 2.623-5.813 6.523-6.613a.5.5 0 0 0 0-1Z' fill='url(%23b)'/%3E%3Cpath d='M21.465 5.8c0-.084-.061-.14-.144-.156l-.056-.013c-1.168-.305-1.876-1.024-2.073-2.108a.153.153 0 0 0-.153-.153v.004c-.084 0-.14.062-.156.144l-.013.056c-.305 1.168-1.024 1.876-2.108 2.073a.153.153 0 0 0-.153.153h.004c0 .084.062.14.145.156l.055.013c1.168.305 1.876 1.024 2.073 2.108 0 .084.069.153.153.153v-.004c.084 0 .14-.062.156-.145l.014-.055c.304-1.168 1.023-1.876 2.107-2.073a.15.15 0 0 0 .15-.153Z' fill='url(%23c)'/%3E%3Cpath d='M7.919 18.715c-1-.3-1.582-.782-1.782-1.782a.218.218 0 1 0-.436 0c-.3 1-.782 1.582-1.782 1.782a.218.218 0 0 0 0 .436c1 .3 1.582.782 1.782 1.782a.218.218 0 0 0 .436 0c.3-1 .782-1.582 1.782-1.782a.218.218 0 0 0 0-.436Z' fill='url(%23d)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='-7.733' y1='11.576' x2='11.416' y2='31.039' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2303A5AB'/%3E%3Cstop offset='1' stop-color='%238B3DFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E);
    --Kf_hKg: none;
    --Go5Hrg: -6px -3px 12px rgba(0, 196, 204, .25), 6px 3px 12px rgba(139, 61, 255, .25);
}
.light {
    --uHFk_A: none;
}
.light {
    --rcnktA: colorBlackA07;
}
.light {
    --6fu6Ag: #404f6d0f;
    --SWnEqQ: #39466024;
    --KhmRZg: #35415a33;
}
.light {
    ---Glt6A: #fff;
    --37lyzw: #ffffff80;
}
.dark, .light {
    --yBCTpw: #1854d7;
    --_gtrLg: #096d11;
    --F4HpJQ: #944f05;
    --namcIg: #b51963;
}
.light {
    --vteRtQ: none;
    --Q_fs-g: invert(1) hue-rotate(180deg);
    --7j7O0g: brightness(0%);
    --k_Fm9g: var(--2yga1g);
    ---prrGA: var(--xwa5zw);
    --slkaig: none;
    --DK-Ctg: var(--0iDYqA);
    --pfuTkQ: 0;
}
.light {
    --RGJYRw: none;
}
.light {
    --X4WG6g: hsla(0, 0%, 100%, .95);
}
.light {
    --asL7SQ: #ffffffb2;
}
.light {
    --YgUWUg: #f1ebff;
}
.light {
    --qmdvjg: #0f121ab2;
    --fo9YIQ: #fff;
}
.light {
    --LGUFNA: #e1e4e7;
    --1l4jNQ: 0.4;
    --RY1XQg: 0.7;
}
.light {
    --iFeuNg: #e1e4e7;
    --wlik6g: 0.4;
    --dy3KDw: 0.7;
}
.light {
    --XmZqVA: #cee2ff;
    --SYTTzA: #dae9ff;
    --DlcAfQ: 1.0;
    --PRmPWg: 0.7;
    --zKOrEA: 0.7;
}
.light {
    --4PEc8w: #cee2ff;
    --8twhFg: #dae9ff;
    --B95T_w: 1.0;
    --U2mrHg: 0.7;
    --8Yg6gg: 0.7;
}
.light {
    --469ipw: invert(1);
}
.light {
    --OqTewQ: #ffffff12;
}
.light {
    --LBdM3g: #464749;
    --UomnNQ: #464749;
    --fSF1rA: 0.4;
    --m50GxA: #dadadb;
    --lpvUBQ: #d3d3d3;
}
.light {
    --jP6cKQ: #fff;
}
.light {
    --e96txA: url(../images/d1320b5….png);
    --b_fbig: linear-gradient(33deg, #ec9809 30%, #ffebd6 60%);
    --XnvCFg: #ffffffe5;
}
.light {
    --zIM5oQ: #24313d;
    --2doBew: 0.4;
    --QdDrZw: #dadadb;
    --W85Nwg: 0.7;
    --VyQPbg: 0.7;
}
.light {
    --qnQ3hQ: #fff;
}
.light {
    ---fgEEw: #fff;
    --W-poKw: #e8eaed;
}
.dark, .light {
    --HAa96Q: #e8eaed;
    --VawcEg: #1d1f26;
}
.light {
    --IlxPkg: #f3f4f7;
}
.light {
    --ZKlEOg: #182c5924;
}
.light {
    --oZAcSQ: var(--PRQgyw);
}
.light {
    --_dDCjg: url(../images/97e8f37….png);
    --yPZOVA: url(../images/8fc1737….png);
    --kSAPTg: transparent;
    --G00ihg: var(--9v5PLg);
    --b3EwcA: url(../images/8495c40….svg);
    --XPBBWg: url(../images/13cbb57….svg);
}
.light {
    --WYApkA: var(--PRQgyw);
}
.light {
    --Jrc9ZQ: url(../images/97e8f37….png);
    --u_05Vw: url(../images/8fc1737….png);
    --8LM13g: transparent;
    --J8bKdQ: var(--9v5PLg);
    --nCS25g: url(../images/512fe7e….svg);
    --NJTh4Q: url(../images/13cbb57….svg);
}
.light {
    --wfcrKw: darken;
}
.light {
    --Eqmzjg: #ffffffb2;
    --APQcsg: #0f1015d9;
}
.dark, .light {
    --yNGaUA: #8b3dff;
}
.light {
    --JtIzbQ: #2b354a4d;
}
.light {
    --Xnb3LQ: none;
}
.light {
    --18EZbw: #ffffff80;
}
.light {
    --ODp-qQ: linear-gradient(90deg, #b1b7ce, #bac1d8);
    --wsmkbA: linear-gradient(90deg, #73e1e9, #88e8ef);
    --MW-y1w: linear-gradient(90deg, #63da77, #7eed90);
    --fUM44g: linear-gradient(90deg, #72e1e9, #8ae8ef);
    --pnZw1w: #ffffff80;
    --_GxCYw: #ffffffcc;
}
.light {
    --wV_63A: #ffffff80;
}
.light {
    --PfD55Q: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0%, #ffffffb2 33%, #ffffffb2 66%, hsla(0, 0%, 100%, 0));
}
.light {
    --yFNydg: #35415a33;
}
.light {
    --8wYsnw: #404f6d0f;
    --nHUWkg: #e7dbff;
    --m2CRgQ: #39466024;
    --twItFw: #8b3dff;
}
.light {
    --FHnWYg: #404f6d0f;
    --SuKFuQ: #e7dbff;
    --7CxaGA: #39466024;
    --PDDvww: #8b3dff;
}
.light {
    --lQJMog: text;
    --i6thJw: linear-gradient(to bottom right, #4372db, #8b3dff);
    --Hq46bg: transparent;
}
.light {
    --XxbfcQ: #f3f4f7;
}
.light {
    --KcDbBw: #ffffffb2;
}
.light {
    --oqAvaw: url(../images/2bac467….png);
    --x5fGZQ: url(../images/13c0d3c….png);
    --agxO6A: url(../images/a9566bc….png);
}
/* page-fixed.css was generated partially by the agent and is not used. Use page-path-fixes.css instead. */
